@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
@font-face {
  font-family: "Stapel-Bold";
  src: url("../font/Stapel-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.modalWrapper {
  position: absolute;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(139, 139, 139, 0.95);
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.modalWrapperActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  z-index: 99;
}

.modalBlock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 680px;
  height: 480px;
  background: #fff;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-animation: modal 0.1s backwards;
  animation: modal 0.1s backwards;
}

.imgModal {
  max-width: 220px;
}

@-webkit-keyframes modal {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes modal {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.modalBlockTitle {
  position: absolute;
  text-align: right;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
}

.closedImg {
  width: 60px;
  height: 60px;
  padding: 12px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.closedImg:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.global {
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.bodyNoneScroll {
  overflow: hidden;
}

.containerTitle {
  max-width: 1160px;
  margin: auto;
}

@media (max-width: 600px) {
  .modalWrapper {
    background: #fff;
  }

  .modalBlock {
    width: 100%;
    height: 100%;
  }
}
.container1 {
  width: 100%;
  min-height: 100vh;
  background: url("../img/container1-bg.png") no-repeat;
  background-size: cover;
  background-position: right;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #fff;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  z-index: 98;
  padding: 0 20px;
}

.headerZ {
  z-index: 1;
}

.headerScroll {
  background: rgba(252, 252, 252, 0.9);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.headerContent {
  max-width: 1160px;
  height: inherit;
  margin: auto;
}

.headerLogo {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: inherit;
}

.nav a {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  color: #000;
  padding: 6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav a:hover {
  color: #F63765;
}

.nav a:active {
  color: #AD0E35;
}

.container1_Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
}

.con1_ContentBlock {
  max-width: 500px;
  margin-left: 10%;
  margin-top: 232px;
}

.con1_ContentBlock img {
  max-width: 500px;
}

.con1_title {
  font-family: "Stapel-Bold";
  text-transform: uppercase;
  font-size: 72px;
  line-height: 91px;
}

.con1_text {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-top: 16px;
}

.btnModal {
  width: 206px;
  height: 44px;
  border: 1px solid #000;
  background: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #0D0D0D;
  margin-top: 82px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.btnModal:hover {
  background: #F63765;
  -webkit-box-shadow: 0px 0px 20px rgba(246, 55, 101, 0.3);
  box-shadow: 0px 0px 20px rgba(246, 55, 101, 0.3);
  color: #fff;
  border: 1px solid #F63765;
}

.btn-menu {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-menu span,
.btn-menu span:before,
.btn-menu span:after {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
}

.btn-menu span:before,
.btn-menu span:after {
  content: "";
  display: block;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.btn-menu span:after {
  content: "";
  display: block;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.btn-menu-active span {
  height: 0;
}

.btn-menu-active span:before {
  -webkit-transform: rotate(44deg);
  -ms-transform: rotate(44deg);
  transform: rotate(44deg);
}

.btn-menu-active span:after {
  -webkit-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}

.dropdown {
  position: fixed;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  height: 0vh;
  padding: 0 20px;
  background: #fff;
  z-index: 97;
  overflow: auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.navDrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  margin: 22px 0 50px 22px;
  padding: 50px 0;
  overflow: auto;
}

.navDrop a {
  margin: 20px 0;
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.dropdownActive {
  height: 100vh;
}

.container1-600 {
  position: relative;
  display: none;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  overflow: hidden;
}

.con1-600_textBlock {
  width: 100%;
  padding: 0 20px;
  padding-top: 100px;
}

.con1-600_textBlock img {
  max-width: 350px;
  margin-bottom: 16px;
}

.con1-600_textTitle {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  margin-bottom: 60px;
}

.container1-600-img {
  width: 100%;
  margin-left: -20%;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.con1-600-img img {
  width: 100%;
  border: 1px solid green;
}

.btnModal-600 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
}

@media (max-width: 800px) {
  .headerContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .headerContent .nav {
    display: none;
  }

  .headerLogo {
    display: block;
  }

  .btn-menu {
    display: block;
  }

  .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 600px) {
  .container1 {
    background: none;
  }

  .container1_Content {
    display: none;
  }

  .container1-600 {
    display: block;
  }
}
.container2 {
  width: 100%;
  padding: 80px 0 0 0;
}

.containerTitle {
  padding: 0 20px;
}

.wrapperSlider1 {
  position: relative;
}

.sliderOwl1Arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90%;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  z-index: 5;
}

.sliderOwl1Arrows button {
  width: 50px;
  height: 50px;
  font-size: 30px !important;
  border-radius: 50px !important;
  border: 1px solid #000 !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.owl-carousel-1 .slide {
  width: 100%;
}

.slideBlock {
  margin: auto;
  max-width: 1080px;
  max-height: 796px;
  padding: 20px;
}

.slideBlock img {
  width: 100%;
  height: 100%;
}

.owl-prev, .owl-next {
  width: 50px;
  height: 50px;
  font-size: 30px !important;
  border-radius: 50px !important;
  border: 1px solid #000 !important;
}

.owl-prev:hover, .owl-next:hover {
  background: #F63765;
  color: #fff;
  border: none !important;
}

.owl-prev:active, .owl-next:active {
  background: #AD0E35 !important;
  color: #fff !important;
  border: none !important;
}
.container3 {
  width: 100%;
  padding: 80px 20px;
}

.containerTitle3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.container3 .containerTitle {
  margin-bottom: 28px;
}

.sliderOwl2Arrows .prev {
  margin-right: 20px;
}

.sliderOwl2Arrows button span, .sliderOwl1Arrows button span {
  display: block;
  margin-left: 3px;
  margin-top: -6px;
}

.sliderOwl2Arrows .prev span, .sliderOwl1Arrows .prev span {
  margin-left: 0px;
}

.slideCard {
  position: relative;
  max-width: 440px;
  height: 740px;
  background: #FAFAFA;
  border-radius: 8px;
  margin: auto;
  padding: 32px;
}

.slideCard img {
  margin-bottom: 20px;
}

.sladeCardTitle {
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #333;
  margin-bottom: 12px;
}

.sladeCardText {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #000;
}

.btnCard {
  position: absolute;
  height: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0D0D0D;
  bottom: 32px;
  left: 32px;
  right: 32px;
  border: 1px solid #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btnCard:hover {
  background: #F63765;
  -webkit-box-shadow: 0px 0px 20px rgba(246, 55, 101, 0.3);
  box-shadow: 0px 0px 20px rgba(246, 55, 101, 0.3);
  color: #fff;
  border: 1px solid #F63765;
}

.prev, .next {
  width: 50px;
  height: 50px;
  font-size: 30px !important;
  border-radius: 50px !important;
  border: 1px solid #000 !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.prev:hover, .prev1:hover, .next:hover, .next1:hover {
  background: #F63765;
  color: #fff;
  border: none !important;
}

.prev:active, .prev1:active, .next:active, .next1:active {
  background: #AD0E35 !important;
  color: #fff !important;
  border: none !important;
}

@media (max-width: 800px) {
  .containerTitle img {
    width: 300px;
  }
}
@media (max-width: 600px) {
  .containerTitle3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .containerTitle3 img {
    margin-bottom: 20px;
  }
}
.container4 {
  position: relative;
  width: 100%;
  padding: 20px;
}

.con4_bg-600 {
  display: none;
}

.con4_bg-1, .con4_bg-2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  top: 0;
}

.con4_bg-1 img, .con4_bg-2 img {
  width: 100%;
}

.con4_bg-1 {
  left: 0;
}

.con4_bg-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 50%;
}

form {
  max-width: 680px;
  padding: 85px 117px;
  background: rgba(252, 252, 252, 0.9);
  margin: 146px auto 146px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 4px;
}

form img {
  margin-bottom: 16px;
}

.formText {
  margin-bottom: 60px;
}

.input {
  position: relative;
}

input {
  width: 100%;
  height: 38px;
  padding: 10px 16px;
  border: 1px solid black;
  margin-bottom: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

input:focus, textarea:focus {
  border: 1px solid #F63765;
}

input:valid + label {
  display: none;
}

input:focus + label {
  display: none;
}

label {
  position: absolute;
  display: inline-block;
  position: absolute;
  cursor: text;
  top: 10px;
  left: 16px;
  height: 22px;
  width: 149px;
}

textarea {
  border: 1px solid black;
  width: 100%;
  height: 95px;
  padding: 10px 16px;
  resize: none;
  margin-bottom: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

input, label, textarea {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #808080;
}

.formButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.notSend {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #0D0D0D;
  white-space: nowrap;
  margin-right: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.notSend:hover {
  color: #F63765;
}
.notSend:active {
  color: #AD0E35;
}

.formBtnSend {
  width: 240px;
  height: 44px;
  border: 1px solid #000;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #0D0D0D;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.formBtnSend:hover {
  background: #F63765;
  -webkit-box-shadow: 0px 0px 20px rgba(246, 55, 101, 0.3);
  box-shadow: 0px 0px 20px rgba(246, 55, 101, 0.3);
  color: #fff;
  border: 1px solid #F63765;
}

@media (max-width: 600px) {
  .con4_bg-1, .con4_bg-2 {
    display: none;
  }

  .con4_bg-600 {
    position: absolute;
    width: 90%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    overflow: hidden;
  }

  .con4_bg-600 img {
    width: 100%;
  }

  form {
    width: 100%;
    padding: 44px 22px;
  }

  form img {
    max-width: 200px;
  }

  .formButtons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .notSend {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .formBtnSend {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 20px;
  }
}
.container5 {
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 100px;
}

.accordeon {
  max-width: 1160px;
  margin: auto;
  cursor: pointer;
}

.accordeonItem:not(:last-child) {
  border-radius: 4px;
  margin-bottom: 12px;
}

.accordeionTitleBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 113px;
  background: #F0EBEC;
  border-radius: 4px;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  padding: 0 32px;
}

.accordeionTextBlock {
  display: none;
  padding: 0 32px 32px 32px;
  width: 100%;
  background: #F9F9F9;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.7);
}

.accordeionTextBlock .text {
  max-width: 650px;
}

.accordeionTitleBlockActive {
  background: #F9F9F9;
}

.accordImg {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.accordImgActive {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
footer {
  width: 100%;
  padding: 0 20px;
}

footer .nav {
  max-width: 1160px;
  margin: auto;
  height: 80px;
}

@media (max-width: 800px) {
  footer {
    display: none;
  }
}